.bar {
  width: 100%;
  height: 1rem;
  padding: 4px;
  background-color: var(--quiz-btn-bg);
  overflow: hidden;
  border-radius: 999px;
  transition: background-color var(--base-transition);
}

.bar__progress {
  height: 100%;
  border-radius: 999px;
  background-color: var(--purple);
  transition: width var(--base-transition);
}
