.btn {
  width: 100%;
  padding: 0.64em;
  border-radius: 0.7em;
  font-size: clamp(1.125rem, 0.9049rem + 0.939vw, 1.75rem);
  border: none;
  background-color: var(--quiz-btn-bg);
  color: inherit;
  column-gap: 1rem;
  box-shadow: var(--shadow);
  transition: background-color var(--base-transition), box-shadow var(--base-transition);
}

.btn:focus {
  outline: 2px solid var(--purple);
}
