.wrapper {
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;
}

@media screen and (min-width: 30rem) {
  .wrapper {
    width: min(72.5rem, calc(100vw - 4rem));
    padding: 0;
  }
}

@media screen and (min-width: 51.25rem) {
  .wrapper {
    width: min(72.5rem, calc(100vw - 4rem));
    margin: 8vh auto 0;
    padding: 0;
  }
}
