.btn {
  width: 100%;
  background-color: var(--purple);
  border: none;
  color: var(--white);
  padding: 1em;
  border-radius: 0.7em;
  font-size: clamp(1.125rem, 0.9049rem + 0.939vw, 1.75rem);
  font-weight: var(--fw-medium);
  box-shadow: var(--shadow);
  transition: background-color var(--base-transition), box-shadow var(--base-transition);
  outline: none;
}

.btn:hover,
.btn:focus-visible {
  background-color: #d394fa;
}
